POSTGRES_DB=api_dev_db
POSTGRES_HOST=localhost
POSTGRES_PASSWORD=test
POSTGRES_PORT=5432
POSTGRES_USER=user
API_DOCS_ENABLED=true

# SSL
EMAIL_HOST=smtp.example.org
EMAIL_PORT=465
EMAIL_USERNAME=user@example.com
EMAIL_PASSWORD=password
EMAIL_FROM=it-sec@example.com
EMAIL_VERIFICATION_BASE_URL=http://localhost:3000/

